# 设置 NPM 镜像源为 npmmirror，加速依赖下载（适用于中国地区）
registry=https://registry.npmmirror.com/

# 允许提升（hoist）依赖项，使其在根级别安装，而不是遵循严格的依赖层级
shamefully-hoist=true

# 忽略工作空间（workspace）根目录检查，允许在根目录安装依赖
ignore-workspace-root-check=true

# 允许在工作空间（workspace）中使用符号链接来连接本地包，而不是重新安装
link-workspace-packages=true

# 允许在执行安装/卸载/更新等命令时启用 preinstall 和 postinstall 脚本
enable-pre-post-scripts=true
